#########################################
# START MENUCACHE
#########################################
MenuCache:
  fields:
    - Header
    - Menu
    - Footer
    - LayoutSection
    - Other

MenuCache:
  layout_field: 3

#NOTA BENE - MAKE SURE TO SET TO ANYTHING BUT 0-4 IF YOU DO NOT INCLUDE A LAYOUT SECTION!
#########################################
# END MENUCACHE
#########################################

